* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;

  form {
    margin-top: 5rem;
    .form-group {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;

      input {
        padding: 0 10px;
        width: 500px;
        height: 7vh;
        border-radius: 8px;
        border: 1px solid #000;
        @media screen and (max-width: 455px) {
          width: 270px;
        }
      }

      i {
        position: absolute;
        bottom: 18%;
        right: 3%;
        cursor: pointer;
      }
    }
    .btn{
      display: flex;
      justify-content: center;
       margin-top: 3rem;
       button {
        
   padding: 10px 20px;
   background-color: black;
   border-radius: 8px;
   border: none;
   cursor: pointer;
   color: #fff
       
       }
    }
  }
}
